<!doctype HTML>
<html>
	<head>
		<title>PHB Course Manager</title>
		
		<style>
			html {
				background-color: #279AF1;
			}
			
			h1 {
				text-align: center;
				color: #23B5D3;
			}
			h2 {
				color: #23B5D3;
			}
			
			.listCenter{
				list-style-type: none;
				text-align: center;
				line-height: 150%;
				}
			
			.centerall{
				text-align: center;
				display: block;
				margin: 0 auto;
			}
			
			.dance {
				background-color: #F7F7FF;
				text-align: left;
				width: 50%; 
				margin: 0 auto;
				padding: 20px;
				border-radius: 15px;
				
			}
			
			
			
			a {
				color: #279bf3;
			}
			
			label{
				display:inline-block;
				width:200px;
				margin-right:30px;
				text-align:right;
			}
				
				
				
				fieldset{
					border:none;
					width:500px;
					margin:0px auto;
				}
			
			
						
		
		</style>
		
	</head>
	<body>
		<div class="centerall">
		{% block content %}
		{% endblock content %}
		</div>
	</body>
</html>