		

{% extends "base.html" %}

{% block content %}

<div class = "dance">

<h1>Assignment Details</h1>

{% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}

<form action="{% url 'assignment_details' assignment.id %}" method="post">{% csrf_token %}
    {{ form.as_p }}
    Existing Assignment Documents: <br/>
    <ul>
    {% for d in form.doclist %}
        {% for key,value in d.items %}
            <li>{{ key  }}</li>
            - {{ value }}
        {% endfor %}
    {% endfor %}
    <ul>
    <br/><br/>
    <input type="submit" value="Save" id="save">
</form>

</div>
{% endblock content %}