{% extends "base.html" %}

{% block content %}

<div class= "dance">
<h1>Class Details</h1>

{% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}

<form action="{% url 'class_details' course.id %}" method="post">{% csrf_token %}
    {{ form.as_p }}
    <h2>Syllabus:</h2>
    <ul>
    {% for s in form.syllist %}
        {% for key,value in s.items %}
            <li>{{ key  }}</li>
            - {{ value }}
        {% endfor %}
    {% endfor %}
    </ul>
    New Syllabus: <input type="file" name="newsyl"><br/>
    <label for="syl_comments">Syllabus Note:</label> <input type="text" id = "syl_comments"name="syl_comments"><br/>
    <br/>
    <h2>Assignments:</h2>
    <ul>
    {% for a in form.asgnlist %}
        <li><a href="{% url 'assignment_details' a.id %}">{{ a.assignment_title }}</a> {{a.total_grade}}/{{a.max_grade}}</li>
        - {{a.comments}}<br/><br/>
    {% endfor %}
    </ul>
    New Assignment: <input type="submit" name="newasgn" value="New Assignment"><br/>
    <br/>
    <h2>Documents:</h2>
    <ul>
    {% for d in form.doclist %}
        {% for key,value in d.items %}
            <li>{{ key  }}</li>
            - {{ value }}
        {% endfor %}
    {% endfor %}
    </ul>
    New Document:<input type="file"  id = "newcrsdoc" name="newcrsdoc"><br/>
   <label for="crsdoc_comments">Document Note:</label>  <input type="text" name="crsdoc_comments"><br/>
    <br/><br/>
    
    <input id = "center" type="submit" name="save" value="Save">
    <input type="button" name="cancel" value="cancel" onClick="window.location='/coursemanager/';" />
</form>
</div>

{% endblock content %}