{% extends "base.html" %}

{% block content %}
		
<div class= "dance">
	
{% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}

<form action="{% url 'index' %}" method="post">{% csrf_token %}
    <h1>Assignments Nearing Due Date:</h1>
    {% if due_soon_list %}
        <ul>
        {% for a in due_soon_list %}
            <li class = "listCenter"><a href="{% url 'assignment_details' a.id %}">{{ a.assignment_title }} due {{a.due_date}}</a></li>
        {% endfor %}
        </ul>
    {% else %}
        <p>No pending assignments.</p>
    {% endif %}
<br>
    <h1>Semester Overview</h1>
    {% if semester_list %}
        {% for key, value in semester_list.items %}
        <ul>
            <h2>{{ key }}</h2>
            {% for key1, value1 in value.items %}
                <h4><a href="{% url 'class_details' key1.id %}">{{ key1.course_title }}</a> {{ key1.final_grade }}</h4>
                <sub>{{ value1 }}</sub><br/>
                <br/>
            {% endfor %}
            <br/>
         
            
  
        <input type="submit" name=key1 value="New Class"><br/>
        </ul>
        
        {% endfor %}
    {% else %}
        <p>No semesters.</p>
    {% endif %}
</form>
</div>

{% endblock content %}